In [1]:
import pandas as pd

In [2]:
house_prices = pd.read_csv('house_prices.csv')

In [5]:
house_prices.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
house_prices.columns.to_series().groupby(house_prices.dtypes).groups

{dtype('int64'): ['Id',
  'MSSubClass',
  'LotArea',
  'OverallQual',
  'OverallCond',
  'YearBuilt',
  'YearRemodAdd',
  'BsmtFinSF1',
  'BsmtFinSF2',
  'BsmtUnfSF',
  'TotalBsmtSF',
  '1stFlrSF',
  '2ndFlrSF',
  'LowQualFinSF',
  'GrLivArea',
  'BsmtFullBath',
  'BsmtHalfBath',
  'FullBath',
  'HalfBath',
  'BedroomAbvGr',
  'KitchenAbvGr',
  'TotRmsAbvGrd',
  'Fireplaces',
  'GarageCars',
  'GarageArea',
  'WoodDeckSF',
  'OpenPorchSF',
  'EnclosedPorch',
  '3SsnPorch',
  'ScreenPorch',
  'PoolArea',
  'MiscVal',
  'MoSold',
  'YrSold',
  'SalePrice'],
 dtype('float64'): ['LotFrontage', 'MasVnrArea', 'GarageYrBlt'],
 dtype('O'): ['MSZoning',
  'Street',
  'Alley',
  'LotShape',
  'LandContour',
  'Utilities',
  'LotConfig',
  'LandSlope',
  'Neighborhood',
  'Condition1',
  'Condition2',
  'BldgType',
  'HouseStyle',
  'RoofStyle',
  'RoofMatl',
  'Exterior1st',
  'Exterior2nd',
  'MasVnrType',
  'ExterQual',
  'ExterCond',
  'Foundation',
  'BsmtQual',
  'BsmtCond',
  'BsmtExposure',
  'BsmtFinType1',
  'BsmtFinType2',
  'Heating',
  'HeatingQC',
  'CentralAir',
  'Electrical',
  'KitchenQual',
  'Functional',
  'FireplaceQu',
  'GarageType',
  'GarageFinish',
  'GarageQual',
  'GarageCond',
  'PavedDrive',
  'PoolQC',
  'Fence',
  'MiscFeature',
  'SaleType',
  'SaleCondition']}

**Задание**:

* разделить набор данных на кваритили по цене продажи;
* узнать средний YearBuilt в квартиле, средний Kitchen.
* перегруппировать по Functional и узнать среднюю цену в классе продаж.

In [24]:
percentiles = house_prices["SalePrice"].quantile([0, 0.25, 0.5, 0.75, 1.0])
percentiles

0.00     34900.0
0.25    129975.0
0.50    163000.0
0.75    214000.0
1.00    755000.0
Name: SalePrice, dtype: float64

In [ ]:
house_prices =

In [61]:
quantils = house_prices.groupby(pd.cut(house_prices['SalePrice'], percentiles))['YearBuilt', 'KitchenAbvGr'].mean()  
quantils.index = ['I', 'II', 'III', 'IV']
quantils.index.rename('Quantile', inplace=True)
quantils

            YearBuilt  KitchenAbvGr
Quantile
I         1945.398352      1.096154
II        1962.885559      1.070845
III       1984.647541      1.019126
IV        1992.392265      1.000000

In [65]:
house_prices.groupby('Functional')['SalePrice'].mean()

Functional
Maj1    153948
Maj2     85800
Min1    146385
Min2    144240
Mod     168393
Sev     129000
Typ     183429
Name: SalePrice, dtype: int64