### T-тест для сравнения средних

In [1]:
from scipy import stats
import numpy as np

Нулевая гипотеза:
$$ H_0: \mu_1 = \mu_2.$$

#### Равный объем выборок, одинаковая дисперсия

t-статистика имеет вид:
$$ t_{obs} = \frac{\bar{X}_1 - \bar{X}_2}{\sqrt{s^2_{X_1}+s^2_{X_2}}\sqrt{\frac{1}{n}}}. $$

число степеней свободы для тестовой статистики $df = 2n-2.$

In [2]:
rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs2 = stats.norm.rvs(loc=5,scale=10,size=500)

In [3]:
stats.ttest_ind(rvs1,rvs2, equal_var=True)

(0.87587238060173545, 0.38131017228721165)

#### Неодинаковый объем выборок, одинаковая дисперсия

t-статистика имеет вид:
$$ t_{obs} = \frac{\bar{X}_1 - \bar{X}_2}{s_{X_1X_2}\sqrt{\frac{1}{n_1}+\frac{1}{n_2}}}, $$

$$ s_{X_1X_2} = \sqrt{\frac{(n_1-1)s{X_1}^2+(n_2-1)s{X_2}^2}{n_1+n_2-2}}.$$

In [4]:
rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs3 = stats.norm.rvs(loc=5, scale=20, size=100)

In [5]:
stats.ttest_ind(rvs1,rvs2, equal_var=True)

(1.1003484101965142, 0.27144568134870567)

scipy делает корректировку автоматически.

#### Неодинаковый объем выборок, неодинаковая дисперсия

Данный тест также известен как t-test Уолша.

t-статистика имеет вид:
$$ t_{obs} = \frac{\bar{X}_1 - \bar{X}_2}{s_{X_1X_2}}, $$

$$ S_{X_1X_2}=\sqrt{\frac{s_1^2}{n_1}+\frac{s_2^2}{n_2}},$$

$$ df = \frac{(s_1^2/n_1 + s_2^2/n_2)^2}{(s_1^2/n_1)^2/(n_1-1)+(s_1^2/n_2)^2/(n_2-1)}. $$

In [6]:
rvs4 = stats.norm.rvs(loc=8, scale=20, size=100)

In [7]:
stats.ttest_ind(rvs1, rvs4, equal_var = False)

(-1.9455507746419702, 0.054267168673257662)

#### t-test для зависимых выборок

Используется, когда производится несколько наблюдений над каждым элементом выборочной совокупности. Предполагается, что мы рассчитыаем разность между двумя наблюдениями.

$$ t = \frac{\bar{X}_D-\mu_0}{s_{D} / \sqrt{n}.} $$

Число степеней свободы - $(n-1)$.

In [8]:
rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs2 = (stats.norm.rvs(loc=5,scale=10,size=500) + stats.norm.rvs(scale=0.2,size=500))

In [9]:
stats.ttest_rel(rvs1,rvs2)

(0.022062833854645018, 0.98240665290762275)

#### z-test на равенство долей

In [10]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [11]:
data = pd.read_csv('drunkwalks.txt', sep='\t')

In [12]:
data

     CASE  DRINKS  SEX  DOMINANT_SIDE  FIRST_STUMBLE  END_POSITION  MATCH
0       1      10    1              1              1             1      1
1       2       6    1              1              1             1      1
2       3       5    0              1              1             1      1
3       4      14    1              1              1             0      1
4       5       7    1              1              0             0      0
5       6      12    1              0              0             1      1
6       7       8    0              0              0             0      1
7       8       7    0              0              0             0      1
8       9       9    1              0              1             1      0
9      10       5    0              0              0             0      1
10     11       5    0              1              1             1      1
11     12       8    1              1              1             0      1
12     13       8    0              1              0             1      0
13     14       7    0              1              0             0      0
14     15      11    1              1              0             1      0
15     16       4    0              0              1             1      0
16     17       8    0              0              0             0      1
17     18       7    0              0              1             1      0
18     19       6    0              0              0             1      1
19     20       9    1              0              1             0      0
20     21       7    0              1              1             0      1
21     22       5    1              1              1             0      1
22     23       4    1              1              0             0      0
23     24      10    1              1              1             1      1
24     25       9    1              1              0             1      0
25     26       8    0              0              0             0      1
26     27       6    0              0              0             0      1
27     28       7    1              0              0             1      1
28     29       5    0              0              1             1      0
29     30       6    1              0              0             1      1
..    ...     ...  ...            ...            ...           ...    ...
121   122       7    0              0              0             0      1
122   123       9    1              0              1             1      0
123   124       5    0              0              0             0      1
124   125       5    0              1              1             1      1
125   126       2    0              1              1             1      1
126   127       4    0              1              1             1      1
127   128       6    0              1              0             1      0
128   129       4    0              1              0             0      0
129   130       6    0              0              0             0      1
130   131       3    0              0              1             1      0
131   132       2    0              0              0             1      1
132   133       3    0              0              0             0      1
133   134       4    0              0              0             0      1
134   135       4    1              1              1             1      1
135   136       2    1              1              0             1      0
136   137       6    1              1              0             1      0
137   138       4    0              0              0             1      1
138   139       8    1              0              0             0      1
139   140       4    0              0              1             0      0
140   141       5    1              0              1             1      0
141   142      10    1              1              1             0      1
142   143      10    1              1              0             1      0
143   144       5    1              1              1             1      1
144   145      11    1              1              0             0      0
145   146       4    0              1              1             1      1
146   147       5    0              0              0             1      1
147   148      12    1              0              0             0      1
148   149       9    1              0              1             0      0
149   150       5    0              0              0             0      1
150   151       6    0              0              0             0      1

[151 rows x 7 columns]

In [13]:
p_male = data[data['SEX'] == 1]['MATCH'].mean()

In [14]:
p_female = data[data['SEX'] == 0]['MATCH'].mean()

$$ H_0: p_1 = p_2,$$
$$ H_1: p_1 \neq p_2.$$

$$ Z_{obs} = \frac{\hat{p}_1-\hat{p}_2}{\sqrt{\hat{p}(1-\hat{p})(\frac{1}{n_1}+\frac{1}{n_2})}},$$

где $\hat{p} = \frac{Y_1+Y_2}{n_1+n_2}.$

In [15]:
p_hat = data['MATCH'].mean()

In [16]:
n1 = np.float(data[data['SEX'] == 1]['MATCH'].count())
n2 = np.float(data[data['SEX'] == 0]['MATCH'].count())

In [17]:
z_obs = (p_male - p_female)/np.sqrt(p_hat*(1-p_hat)*(1/n1+1/n2))

In [18]:
z_obs

-0.066747464856976524

In [19]:
stats.norm.ppf(0.95)

1.6448536269514722

In [20]:
stats.norm.cdf(z_obs)

0.47339137352316468