### Меры сходства

In [51]:
import numpy as np
import pandas as pd
from scipy import stats

Сравним меры сходства на данных о потребительских корзинах:

In [52]:
beers = pd.read_csv('/home/s/beers.csv' , sep=';', index_col="User")

In [53]:
beers.head()

      Baltika 7  Klinskoe  Hoegaarden  Baltika 3
User
1             0         0           0          0
2             1         1           0          1
3             1         0           0          0
4             1         0           0          1
5             1         1           1          0

Построим таблицы сопряженности:

In [54]:
ctab1 = pd.crosstab(beers["Klinskoe"], beers["Hoegaarden"])
ctab2 = pd.crosstab(beers["Baltika 3"], beers["Baltika 7"])
ctab3 = pd.crosstab(beers["Klinskoe"], beers["Baltika 7"])

In [55]:
ctab1

Hoegaarden   0   1
Klinskoe
0           63  11
1           24   2

In [56]:
ctab2

Baltika 7   0   1
Baltika 3
0          56  11
1          14  19

In [57]:
ctab3

Baltika 7   0   1
Klinskoe
0          54  20
1          16  10

#### Коэффициент Жаккара:

In [58]:
def jaccard(table):
    return 1.0 * table.loc[1,1] / (table.loc[1,1] + table.loc[1,0] + table.loc[0,1])

In [59]:
jaccard(ctab1)

0.05405405405405406

In [60]:
jaccard(ctab2)

0.4318181818181818

Сравнивать можно как профиль продуктов (столбцы), так и индивидуальный продуктовые корзины(строки):

#### Коэффициент Кульчинского-2:

In [61]:
def kulzinsky2(table):
    return 0.5 * table.loc[1,1] / (table.loc[1,1] + table.loc[1,0]) + 0.5 * table.loc[1,1] / (table.loc[1,1] + table.loc[0,1])

In [62]:
kulzinsky2(ctab1)

0.11538461538461539

In [63]:
kulzinsky2(ctab2)

0.6045454545454545

#### Коэффициент корреляции Пирсона:

In [64]:
sc.stats.pearsonr(beers["Baltika 7"], beers["Baltika 3"])

(0.42231584257281229, 1.2052686347711904e-05)

#### Коэффициент ранговой корреляции Спирмена:

In [65]:
sc.stats.spearmanr(beers["Baltika 7"], beers["Baltika 3"])

(0.42231584257281224, 1.2052686347711974e-05)

Для случая 2x2 бинарных таблиц сопряженности показатели идентичны